---
title: {{ .Name }}
path: /{{ .ID }}
{{ if .Description}}description: {{ .Description }}{{ end }}
---

## [Tanka by Example](/): {{ .Name }}

{{$codeRaw := .CodeRaw}}
{{ range .Segs }}

<table>
{{ range $i, $e := . }}
<tr>
<td class="docs">

{{ .Docs }}

</td>
<td class="code{{if .CodeEmpty}} empty{{end}}{{if .CodeLeading}} leading{{end}}">
{{if eq $i 1}}<copy-button code="{{$codeRaw}}">Copy</copy-button>{{end}}


```jsonnet
{{ .Code }}
```

</td>
</tr>
{{ end }}
</table>

{{ end }}
